<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/skills.css">
    <title>Skills</title>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <form action="/">
              <li class="nav-item"><a href="../views/index.html" class="nav-link new">HOME</a></li>
          </form>
          <form action="/about" method="get">
              <li class="nav-item"><a href="../views/About.html" class="nav-link new">PROFILE</a></li>
          </form>
          <form action="/about" method="get">
              <li class="nav-item"><a href="../views/education.html" class="nav-link new" >EDUCATION</a></li>
          </form>
          <form action="/about" method="get">
            <li class="nav-item"><a href="../views/skills.html" class="nav-link new run" aria-current="page">SKILLS</a></li>
          </form>
          <form action="/about" method="get"></form>
            <li class="nav-item"><a href="../views/projects.html" class="nav-link new">PROJECTS</a></li>
          </form>
          </ul>
        </header
    </div>
</body>
</html>